// WiFi credentials
const char* ssid = "WIFI_SSID";
const char* password = "WIFI_PASSWORD";

// NTFY configuration
const char* NTFY_TOPIC = "topic_name";
const char* NTFY_DEBUG_TOPIC = "debug_topic_name";
const char* KEY_STRING = "key_string";

